#icons{
    justify-content: space-between;
    width: 100%;
    line-height: 14px;
    padding-top: 10px;
    align-items: baseline;
}

#grey{
    border-radius: 100px;
    background-color: gray;
    justify-content: space-between;
    padding: 5px;
}
#hover{
    font-family: SF Pro Text;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
/* identical to box height */

display: flex;
align-items: center;
letter-spacing: -0.028em;

color: #FFFFFF;

}

#hover1 :hover{
    background-color: antiquewhite;
}

.mainsec{
    background-image: url(landimage.png);
    height: 650px;
}

.login{
    background: linear-gradient(107.04deg, #C346D5 52.6%, #501FC1 118.32%);
border-radius: 100px;

font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 21px;
/* identical to box height, or 175% */

letter-spacing: -0.32px;

color: #FFFFFF;

}

form :hover{
    background-color: antiquewhite;
}

.envitedtext{
    display: inline;
    font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 21px;
/* identical to box height, or 84% */

letter-spacing: -0.32px;
}
.envited{
    justify-content: space-between;
}
.logo{
    border-radius: 100px;
}
.envitedlogo{
    display: flex;
    justify-content: space-between;
}

.facebookevent{
    padding-top: 60px;
    font-family: Open Sans;
font-style: normal;
font-weight: 800;
font-size: 32px;
line-height: 30px;
/* or 94% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.32px;

color: #FFFFFF;
}

.easilyhost{
    font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 20px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.32px;
color: white;
padding-top: 30px;
}

#gradient{
    
    background: linear-gradient(107.04deg, #06D6A0 48.99%, #5794F7 118.32%);
    border-radius: 100px;
}
.btnhead{
    padding-top: 20px;
display: flex;
justify-content: center;
}

/*logoimgsection*/

.logo1{
    position: absolute;
width: 26px;
height: 26px;
left: 65px;
top: 453px;

opacity: 0.6;
}

.logo2{
    position: absolute;
width: 39px;
height: 39px;
left: 329px;
top: 448px;

opacity: 0.6;
}

.logo3{
    position: absolute;
width: 33px;
height: 33px;
left: 103px;
top: 500px;

opacity: 0.6;
}

.logo4{
    position: absolute;
width: 52px;
height: 52px;
left: 242px;
top: 442px;

opacity: 0.6;
}

.logo5{
    position: absolute;
width: 22.29px;
height: 19px;
left: 307px;
top: 487px;

opacity: 0.6;
}

.logo6{
    position: absolute;
width: 45px;
height: 45px;
left: 7px;
top: 464px;

opacity: 0.6;
}

.logobot1{
    position: absolute;
width: 35px;
height: 35px;
left: 111px;
top: 683px;

opacity: 0.6;
}

.logobot2{
    position: absolute;
    width: 59px;
    height: 59px;
    left: 29px;
    top: 687px;
    
    opacity: 0.6;
}
.logobot3{
    position: absolute;
    width: 59px;
    height: 59px;
    left: 327px;
    top: 657px;
    
    opacity: 0.6;
}
.logobot4{
    position: absolute;
    width: 26px;
    height: 26px;
    left: 10px;
    top: 659px;
    
    opacity: 0.6;
}
.logobot5{
    position: absolute;
    width: 36.37px;
    height: 31px;
    left: 280px;
    top: 697px;
    
    opacity: 0.6;
}
.logobot6{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 250px;
    top: 659px;
    
    opacity: 0.6;
}

.left{
    position: absolute;
width: 96px;
height: 171px;
left: 16px;
top: 498px;

background: url(Left.png);
box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
border-radius: 10px;
}
.middle{
    position: absolute;
width: 136px;
height: 242px;
left: 119px;
top: 460px;
background: url(Middle.png);
background-size: cover;
box-shadow: 0px 0px 40px 20px rgba(0, 0, 0, 0.25);
border-radius: 12px;
}

.right{
    position: absolute;
width: 96px;
height: 171px;
left: 262px;
top: 498px;
background-image: url(Product\ Image\ _\ Right.png);
background-size: cover;
box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
border-radius: 10px;
}
#bottom{
    position: absolute;
height: 64px;
left: 0px;
top: 733px;

background: #5794F7;

}
#headheight{
    padding: 2px;
}

#height{
    
    height: 4px;
}